In [1]:
import requests
from bs4 import BeautifulSoup as bs
from splinter import Browser
from selenium import webdriver
import time
import pandas as pd

In [2]:
# Launch browser
browser = Browser('chrome') 
url = "https://www.aoml.noaa.gov/hrd/hurdat/most_intense.html"
browser.visit(url)
time.sleep(2)

In [3]:
html = browser.html
soup = bs(html, 'html.parser')
time.sleep(2) 

hurricanes = []

# Find the hurricane data table
try:
    table = soup.find('table', class_='content').find('td', id='tdcontent')
    rows = table.find_all('tr')

    # Initialize a flag to skip the first row
    first_row = True
    
    for row in rows:
        data = row.find_all('td')
        record = [d.get_text(strip=True) for d in data]
        
        # Skip the first row
        if first_row:
            first_row = False
            continue
            
        # Check if the row contains the "Notes" section
        if any("Notes:" in cell for cell in record):
            break
        
        # Skip the row if it's empty
        if any(record):
            hurricanes.append(record)
            
except Exception as e:
    print(f"An error occurred: {e}")

# Close the browser
browser.quit()

In [4]:
# Print the extracted data
for hurricane in hurricanes:
    print(hurricane)

['Rank', '#', 'Date', 'Time', 'Latitude', 'Longitude', 'Max Winds(kt)', 'SSHWS', 'RMWnm', 'CentralPressure(mb)', 'States Affected', 'Name']
['1', '3', '9/3/1935', '0200Z', '24.8N', '80.8W', '160', '5', '5', '892', 'CFL5,BFL5', '"Labor Day"']
['2', '9', '8/18/1969', '0400Z', '30.3N', '89.4W', '150', '5', '10', '900', 'MS5,LA5,AL1', 'Camille']
['3', '4', '8/26/1992', '0905Z', '25.5N', '80.3W', '145', '5', '10', '922', 'CFL5,BFL4', 'Andrew']
['4', '14', '10/10/2018', '1730Z', '30.0N', '85.5W', '140', '5', '10', '919', 'AFL5,I-GA2', 'Michael']
['5', '1', '8/10/1856$', '1800Z', '29.2N', '91.1W', '130', '4', '10', '934', 'LA4', '"Last Island"']
['5', '5', '8/20/1886', '1300Z', '28.1N', '96.8W', '130', '4', '15', '925', 'BTX4', '"Indianola"']
['5', '2', '9/10/1919', '0700Z', '24.6N', '82.9W', '130', '4', '15', '927', 'BFL4,CFL2', '---------']
['5', '2', '8/14/1932', '0400Z', '29.0N', '95.2W', '130', '4', '10', '935', 'CTX4,BTX1', '"Freeport"']
['5', '3', '8/13/2004', '1945Z', '26.6N', '82.2W', '130', '4', '5', '941', 'BFL4,CFL1,DFL1', 'Charley']
['5', '13', '8/27/2020', '0600Z', '29.8N', '93.3W', '130', '4', '15', '939', 'LA4,ATX1', 'Laura']
['5', '9', '8/29/2021', '1655Z', '29.1N', '90.2W', '130', '4', '10', '931', 'LA4', 'Ida']
['5', '9', '9/28/2022', '1905Z', '26.7N', '82.2W', '130', '4', '20', '941', 'BFL4,ICFL1,DFL1,SC1', 'Ian']
['6', '7', '9/18/1926', '1200Z', '25.7N', '80.3W', '125', '4', '20', '930', 'CFL4,BFL3', '"Great Miami"']
['6', '4', '9/17/1928', '0000Z', '26.7N', '80.0W', '125', '4', '30', '929', 'CFL4,BFL3,AFL1,DFL1', '"Lake Okeechobee"']
['6', '5', '9/10/1960', '0700Z', '24.8N', '80.9W', '125', '4', '20', '930', 'BFL4,CFL4', 'Donna']
['6', '3', '9/11/1961', '2000Z', '28.3N', '96.4W', '125', '4', '20', '931', 'BTX4, CTX3, ATX1', 'Carla']
['7', '1', '9/9/1900', '0200Z', '29.1N', '95.1W', '120', '4', '15', '936', 'CTX4', '"Galveston"']
['7', '4', '8/3/1970', '2100Z', '27.8N', '97.1W', '120', '4', '10', '944', 'ATX4', 'Celia']
['7', '11', '9/22/1989', '0400Z', '32.8N', '79.8W', '120', '4', '20', '934', 'SC4,INC1', 'Hugo']
['8', '10', '10/2/1893', '0800Z', '29.3N', '89.8W', '115', '4', '10', '948', 'LA4', '"Chenier Caminanda"']
['8', '7', '10/2/1898', '1600Z', '30.9N', '81.4W', '115', '4', '20', '938', 'GA4,DFL2', '----------']
['8', '2', '8/17/1915', '0700Z', '29.2N', '95.1W', '115', '4', '25', '940', 'CTX4,BTX1,LA1', '"Galveston"']
['8', '6', '8/18/1916', '2200Z', '27.0N', '97.4W', '115', '4', '25', '932', 'ATX4', '----------']
['8', '9', '9/15/1945', '1930Z', '25.3N', '80.3W', '115', '4', '10', '949', 'CFL4,BFL2,DFL1', '----------']
['8', '4', '9/16/1947', '1630Z', '26.1N', '80.1W', '115', '4', '15', '943', 'CFL4,BFL2', '----------']
['8', '8', '9/22/1948', '0500Z', '25.8N', '81.3W', '115', '4', '10', '940', 'BFL4,CFL2', '----------']
['8', '2', '8/26/1949', '2300Z', '26.6N', '80.0W', '115', '4', '20', '954', 'CFL4,BFL1,AFL1,DFL1,GA1', '----------']
['8', '11', '10/18/1950', '0500Z', '25.7N', '80.2W', '115', '4', '5', '955', 'CFL4,DFL1', 'King']
['8', '14', '10/14/1954', '1530Z', '33.9N', '78.6W', '115', '4', '20', '938', 'SC4,NC4', 'Hazel']
['8', '8', '9/29/1959', '1700Z', '32.5N', '80.4W', '115', '4', '10', '951', 'SC4', 'Gracie']
['8', '3', '9/8/1965', '0400Z', '29.2N', '90.1W', '115', '4', '30', '946', 'LA4', 'Betsy']
['8', '9', '8/25/2017', '0300Z', '28.0N', '96.9W', '115', '4', '10', '937', 'BTX4', 'Harvey']
['8', '11', '9/10/2017', '1300Z', '24.7N', '81.5W', '115', '4', '10', '931', 'BFL4,CFL1', 'Irma']
['9', '6', '9/16/1855$', '0300Z', '29.2N', '89.5W', '110', '3', '---', '945', 'LA3,MS3', '"Middle Gulf Shore"']
['9', '1', '8/11/1860$', '2000Z', '29.2N', '90.0W', '110', '3', '---', '945', 'LA3,MS3,AL2', '----------']
['9', '4', '9/1/1879$', '1600Z', '29.5N', '91.4W', '110', '3', '---', '945', 'LA3', '----------']
['9', '2', '8/13/1880#', '0100Z', '25.8N', '97.0W', '110', '3', '10', '931', 'ATX3', '----------']
['9', '2', '9/10/1882', '0200Z', '30.4N', '86.8W', '110', '3', '---', '949', 'AFL3,AL1', '----------']
['9', '3', '8/16/1888$', '1900Z', '25.8N', '80.1W', '110', '3', '---', '945', 'CFL3,BFL1', '----------']
['9', '4', '9/29/1896', '1100Z', '29.2N', '83.1W', '110', '3', '15', '960', 'AFL3,DFL3,GA2,SC1,NC1,VA1', '----------']
['9', '6', '9/29/1915', '1800Z', '29.1N', '90.3W', '110', '3', '20', '944', 'LA3,MS2', '"New Orleans"']
['9', '10', '9/5/1933', '0400Z', '26.1N', '97.2W', '110', '3', '20', '940', 'ATX3', '----------']
['9', '11', '9/4/1933', '0500Z', '26.9N', '80.1W', '110', '3', '15', '948', 'CF3', '----------']
['9', '2', '9/23/1941', '2200Z', '28.8N', '95.6W', '110', '3', '20', '942', 'CTX3,BTX2', '----------']
['9', '2', '6/27/1957', '1330Z', '29.8N', '93.7W', '110', '3', '15', '946', 'LA3,CTX2', 'Audrey']
['9', '8', '9/27/1958*', '1800Z', '33.9N', '77.6W', '110', '3', '20', '938', 'NC3', 'Helene']
['9', '12', '8/29/2005', '1110Z', '29.3N', '89.6W', '110', '3', '20', '920', 'LA3,MS3,AL1', 'Katrina']
['10', '10', '10/12/1886', '2200Z', '29.8N', '93.5W', '105', '3', '---', '950', 'LA3,CTX2', '---------']
['10', '9', '10/13/1893', '1300Z', '33.0N', '79.5W', '105', '3', '15', '955', 'SC3,NC2,VA1', '---------']
['10', '5', '10/9/1894', '0300Z', '30.2N', '85.5W', '105', '3', '---', '950', 'AFL3,GA1', '---------']
['10', '3', '8/18/1899', '0100Z', '35.2N', '75.8W', '105', '3', '---', '945', 'NC3', '---------']
['10', '8', '10/18/1906', '0900Z', '24.7N', '81.1W', '105', '3', '10', '953', 'BFL3,CFL3', '---------']
['10', '2', '7/5/1916', '2100Z', '30.4N', '88.4W', '105', '3', '20', '950', 'MS3,AL2,AFL2', '---------']
['10', '1', '8/6/1918', '1800Z', '29.8N', '93.2W', '105', '3', '10', '955', 'LA3,CTX1', '---------']
['10', '6', '/9/21/1938', '2000Z', '40.7N', '72.9W', '105', '3', '40', '941', 'NY3,CT3,RI3,MA2', '"Great New England"']
['10', '13', '10/18/1944', '2100Z', '24.6N', '82.9W', '105', '3', '30', '949', 'BFL3', '---------']
['10', '5', '9/5/1950', '1700Z', '29.1N', '82.8W', '105', '3', '15', '960', 'AFL3,BFL1', 'Easy']
['10', '9', '9/16/2004', '0650Z', '30.2N', '87.9W', '105', '3', '25', '946', 'AL3,AFL3', 'Ivan']
['10', '10', '9/26/2004', '0400Z', '27.2N', '80.2W', '105', '3', '45', '950', 'CFL3,BFL1,AFL1', 'Jeanne']
['10', '4', '7/10/2005', '1930Z', '30.4N', '87.1W', '105', '3', '5', '946', 'AFL3,IAL1', 'Dennis']
['10', '21', '10/24/2005', '1030Z', '25.9N', '81.7W', '105', '3', '25', '950', 'BFL3,CFL2', 'Wilma']
['11', '4', '8/23/1851$', '2100Z', '30.1N', '85.7W', '100', '3', '---', '955', 'AFL3,GA1', '"Great Middle Florida"']
['11', '1', '8/26/1852', '0600Z', '30.2N', '88.6W', '100', '3', '10', '961', 'AL3,MS3,LA2,AFL1', '"Great Mobile"']
['11', '2', '9/8/1854', '2000Z', '31.7N', '81.1W', '100', '3', '40', '950', 'GA3,SC2,DFL1', '"Great Carolina"']
['11', '3', '9/8/1965', '1100Z', '25.0N', '80.5W', '100', '3', '30', '952', 'BFL3, CFL3', 'Betsy']
['11', '6', '9/8/1869', '2200Z', '41.4N', '71.7W', '100', '3', '30', '965', 'RI3,MA3,CT1', '"Eastern New England"']
['11', '3', '8/17/1871$', '0200Z', '27.1N', '80.2W', '100', '3', '30', '955', 'CFL3,DFL1,AFL1', '----------']
['11', '5', '10/7/1873$', '0100Z', '26.5N', '82.2W', '100', '3', '25', '959', 'BFL3,CFL2,DFL1', '----------']
['11', '3', '9/16/1875', '2100Z', '27.7N', '97.2W', '100', '3', '---', '955', 'BTX3,ATX2', '----------']
['11', '4', '10/3/1877$', '0500Z', '30.0N', '85.5W', '100', '3', '---', '955', 'AFL3,GA1', '----------']
['11', '2', '8/18/1879', '1200Z', '34.7N', '76.7W', '100', '3', '15', '971', 'NC3,VA2', '----------']
['11', '6', '8/28/1893', '0500Z', '31.7N', '81.1W', '100', '3', '25', '954', 'GA3,SC3,NC1,DFL1', '"Sea Island"']
['11', '4', '7/21/1909', '1700Z', '28.9N', '95.3W', '100', '3', '20', '959', 'CTX3', '"Velasco"']
['11', '9', '9/21/1909', '0000Z', '29.5N', '91.3W', '100', '3', '30', '952', 'LA3,MS2', '"Grand Isle"']
['11', '11', '10/11/1909', '1800Z', '24.7N', '81.0W', '100', '3', '20', '957', 'BFL3,CFL3', '----------']
['11', '4', '9/29/1917', '0200Z', '30.4N', '86.6W', '100', '3', '40', '949', 'AFL3,LA2,AL1', '----------']
['11', '2', '9/14/1919', '2100Z', '27.2N', '97.3W', '100', '3', '35', '950', 'ATX3,BTX3', '----------']
['11', '6', '10/25/1921', '2000Z', '28.1N', '82.8W', '100', '3', '20', '958', 'BFL3,AFL2,DFL1', '"Tampa Bay"']
['11', '3', '8/25/1926', '2300Z', '29.2N', '90.9W', '100', '3', '15', '967', 'LA3', '----------']
['11', '7', '9/20/1926', '2200Z', '30.3N', '87.5W', '100', '3', '15', '955', 'AFL3,AL3,MS1', '----------']
['11', '2', '9/28/1929', '1300Z', '25.0N', '80.5W', '100', '3', '30', '948', 'BFL3,CFL3', '----------']
['11', '3', '8/30/1942', '0900Z', '28.3N', '96.6W', '100', '3', '20', '950', 'BTX3,CTX2', '----------']
['11', '5', '8/27/1945', '1200Z', '28.2N', '96.7W', '100', '3', '10', '963', 'BTX3,ATX1,CTX1', '----------']
['11', '6', '8/31/1954', '1400Z', '40.9N', '72.2W', '100', '3', '20', '955', 'NY3,CT3,RI3,MA2,NC1', 'Carol']
['11', '1', '6/8/1966', '1900Z', '24.6N', '82.7W', '100', '3', '---', '962', 'BFL3,AFL1', 'Alma']
['11', '13', '9/20/1967', '1200Z', '25.9N', '97.2W', '100', '3', '10', '940', 'ATX3', 'Beulah']
['11', '3', '8/18/1983', '0700Z', '29.1N', '95.1W', '100', '3', '10', '962', 'CTX3', 'Alicia']
['11', '5', '9/2/1985', '1300Z', '30.4N', '89.2W', '100', '3', '10', '959', 'AL3,MS3,AFL3', 'Elena']
['11', '4', '8/26/1992', '0830Z', '29.6N', '91.5W', '100', '3', '20', '956', 'LA3', 'Andrew']
['11', '5', '8/31/1993', '2100Z', '35.2N', '75.1W', '100', '3', '30', '961', 'NC3', 'Emily']
['11', '17', '10/4/1995', '2200Z', '30.3N', '87.1W', '100', '3', '50', '942', 'AFL3,IAL1', 'Opal']
['11', '6', '9/6/1996', '0030Z', '33.9N', '78.0W', '100', '3', '40', '954', 'NC3', 'Fran']
['11', '3', '8/23/1999', '0000Z', '26.9N', '97.4W', '100', '3', '10', '951', 'ATX3', 'Bret']
['11', '18', '9/24/2005', '0740Z', '29.7N', '93.7W', '100', '3', '20', '937', 'LA3,CTX2', 'Rita']
['11', '28', '10/28/2020', '2100Z', '29.2N', '90.6W', '100', '3', '20', '970', 'LA3,MS2,I-AL1', 'Zeta']
['11', '09', '08/30/2023', '1145Z', '29.9N', '83.6W', '100', '3', '10', '950', 'AFL3,I-GA1', 'Idalia']

In [7]:
# Create hrricane dataframe
hurricane_df = pd.DataFrame(hurricanes,
                           columns = [
                           'Rank',
                            '#',
                            'Date',
                            'Time',
                            'Latitude',
                            'Longitude',
                            'Max Winds(kt)',
                            'SSHWS',
                            'RMWnm',
                            'CentralPressure(mb)',
                            'States Affected',
                            'Name'])
hurricane_df

,Rank,#,Date,Time,Latitude,Longitude,Max Winds(kt),SSHWS,RMWnm,CentralPressure(mb),States Affected,Name
0,Rank,#,Date,Time,Latitude,Longitude,Max Winds(kt),SSHWS,RMWnm,CentralPressure(mb),States Affected,Name
1,1,3,9/3/1935,0200Z,24.8N,80.8W,160,5,5,892,"CFL5,BFL5","""Labor Day"""
2,2,9,8/18/1969,0400Z,30.3N,89.4W,150,5,10,900,"MS5,LA5,AL1",Camille
3,3,4,8/26/1992,0905Z,25.5N,80.3W,145,5,10,922,"CFL5,BFL4",Andrew
4,4,14,10/10/2018,1730Z,30.0N,85.5W,140,5,10,919,"AFL5,I-GA2",Michael
...,...,...,...,...,...,...,...,...,...,...,...,...
92,11,6,9/6/1996,0030Z,33.9N,78.0W,100,3,40,954,NC3,Fran
93,11,3,8/23/1999,0000Z,26.9N,97.4W,100,3,10,951,ATX3,Bret
94,11,18,9/24/2005,0740Z,29.7N,93.7W,100,3,20,937,"LA3,CTX2",Rita
95,11,28,10/28/2020,2100Z,29.2N,90.6W,100,3,20,970,"LA3,MS2,I-AL1",Zeta
96,11,09,08/30/2023,1145Z,29.9N,83.6W,100,3,10,950,"AFL3,I-GA1",Idalia

In [8]:
# Save huricane data for future use
hurricane_df.to_csv('../01_Extract/Output/hurricane_df.csv',index=False)