In [1]:
import pandas as pd
from datetime import datetime

In [2]:
# Read hurricane CSV in for further data filtering and cleansing
hurricane_df = pd.read_csv('../01_Extract/Output/hurricane_df.csv')
hurricane_df.head()

,Rank,#,Date,Time,Latitude,Longitude,Max Winds(kt),SSHWS,RMWnm,CentralPressure(mb),States Affected,Name
0,Rank,#,Date,Time,Latitude,Longitude,Max Winds(kt),SSHWS,RMWnm,CentralPressure(mb),States Affected,Name
1,1,3,9/3/1935,0200Z,24.8N,80.8W,160,5,5,892,"CFL5,BFL5","""Labor Day"""
2,2,9,8/18/1969,0400Z,30.3N,89.4W,150,5,10,900,"MS5,LA5,AL1",Camille
3,3,4,8/26/1992,0905Z,25.5N,80.3W,145,5,10,922,"CFL5,BFL4",Andrew
4,4,14,10/10/2018,1730Z,30.0N,85.5W,140,5,10,919,"AFL5,I-GA2",Michael

In [3]:
# Remove first row with duplicate table headers
hurricane_df = hurricane_df.iloc[1:]

In [4]:
# Remove columns not required for targeted analysis
hurricane_df = hurricane_df.drop(['Rank', '#'], axis=1)
hurricane_df.head()

,Date,Time,Latitude,Longitude,Max Winds(kt),SSHWS,RMWnm,CentralPressure(mb),States Affected,Name
1,9/3/1935,0200Z,24.8N,80.8W,160,5,5,892,"CFL5,BFL5","""Labor Day"""
2,8/18/1969,0400Z,30.3N,89.4W,150,5,10,900,"MS5,LA5,AL1",Camille
3,8/26/1992,0905Z,25.5N,80.3W,145,5,10,922,"CFL5,BFL4",Andrew
4,10/10/2018,1730Z,30.0N,85.5W,140,5,10,919,"AFL5,I-GA2",Michael
5,8/10/1856$,1800Z,29.2N,91.1W,130,4,10,934,LA4,"""Last Island"""

In [5]:
# Review storm name values
hurricane_df['Name'].values

array(['"Labor Day"', 'Camille', 'Andrew', 'Michael', '"Last Island"',
       '"Indianola"', '---------', '"Freeport"', 'Charley', 'Laura',
       'Ida', 'Ian', '"Great Miami"', '"Lake Okeechobee"', 'Donna',
       'Carla', '"Galveston"', 'Celia', 'Hugo', '"Chenier Caminanda"',
       '----------', '"Galveston"', '----------', '----------',
       '----------', '----------', '----------', 'King', 'Hazel',
       'Gracie', 'Betsy', 'Harvey', 'Irma', '"Middle Gulf Shore"',
       '----------', '----------', '----------', '----------',
       '----------', '----------', '"New Orleans"', '----------',
       '----------', '----------', 'Audrey', 'Helene', 'Katrina',
       '---------', '---------', '---------', '---------', '---------',
       '---------', '---------', '"Great New England"', '---------',
       'Easy', 'Ivan', 'Jeanne', 'Dennis', 'Wilma',
       '"Great Middle Florida"', '"Great Mobile"', '"Great Carolina"',
       'Betsy', '"Eastern New England"', '----------', '----------',
       '----------', '----------', '----------', '"Sea Island"',
       '"Velasco"', '"Grand Isle"', '----------', '----------',
       '----------', '"Tampa Bay"', '----------', '----------',
       '----------', '----------', '----------', 'Carol', 'Alma',
       'Beulah', 'Alicia', 'Elena', 'Andrew', 'Emily', 'Opal', 'Fran',
       'Bret', 'Rita', 'Zeta', 'Idalia'], dtype=object)

In [6]:
# Remove unnamed storm values
hurricane_df = hurricane_df[~hurricane_df['Name'].isin(['---------', '----------'])]

In [7]:
# Confirm storm values are only named storms
hurricane_df['Name'].values

array(['"Labor Day"', 'Camille', 'Andrew', 'Michael', '"Last Island"',
       '"Indianola"', '"Freeport"', 'Charley', 'Laura', 'Ida', 'Ian',
       '"Great Miami"', '"Lake Okeechobee"', 'Donna', 'Carla',
       '"Galveston"', 'Celia', 'Hugo', '"Chenier Caminanda"',
       '"Galveston"', 'King', 'Hazel', 'Gracie', 'Betsy', 'Harvey',
       'Irma', '"Middle Gulf Shore"', '"New Orleans"', 'Audrey', 'Helene',
       'Katrina', '"Great New England"', 'Easy', 'Ivan', 'Jeanne',
       'Dennis', 'Wilma', '"Great Middle Florida"', '"Great Mobile"',
       '"Great Carolina"', 'Betsy', '"Eastern New England"',
       '"Sea Island"', '"Velasco"', '"Grand Isle"', '"Tampa Bay"',
       'Carol', 'Alma', 'Beulah', 'Alicia', 'Elena', 'Andrew', 'Emily',
       'Opal', 'Fran', 'Bret', 'Rita', 'Zeta', 'Idalia'], dtype=object)

In [8]:
# Remove symbol codes stored within the date field
hurricane_df['Date'] = hurricane_df['Date'].replace({'[$*#]': ''}, regex=True)

In [9]:
# Clean date in order to format
def clean_date(date_str):
    if isinstance(date_str, str):
        # Remove leading slashes and spaces
        date_str = date_str.replace('', '')
        date_str = date_str.strip().lstrip('/')
        return date_str
    return date_str

hurricane_df['Date'] = hurricane_df['Date'].apply(clean_date)

In [10]:
# Convert Date to date format
hurricane_df['Date'] = pd.to_datetime(hurricane_df['Date'], format='%m/%d/%Y')

In [11]:
# Convert 'HHMMZ' format to normal time format
def convert_time(time_str):
    if isinstance(time_str, str) and time_str.endswith('Z'):
        # Remove the 'Z' and parse the time
        time_str = time_str[:-1]
        # Parse the time string into a datetime object and change to 12-hour format with AM/PM
        time_obj = datetime.strptime(time_str, '%H%M')
        return time_obj.strftime('%I:%M %p')
    return time_str

# Apply the conversion function
hurricane_df['Time'] = hurricane_df['Time'].apply(convert_time)

In [12]:
# Convert latitude and longitude for future mapping
def convert_coordinates(coord_str):
    if isinstance(coord_str, str):
        # Remove the directional character (N/S/E/W)
        direction = coord_str[-1]
        value = float(coord_str[:-1])
        # Adjust the sign based on the direction
        if direction in ['S', 'W']:
            value = -value
        return value
    return None

# Apply the conversion function
hurricane_df['Latitude'] = hurricane_df['Latitude'].apply(convert_coordinates)
hurricane_df['Longitude'] = hurricane_df['Longitude'].apply(convert_coordinates)

In [13]:
# Convert number columns to numeric values
hurricane_df['Max Winds(kt)'] = pd.to_numeric(hurricane_df['Max Winds(kt)'], errors='coerce')
hurricane_df['SSHWS'] = pd.to_numeric(hurricane_df['SSHWS'], errors='coerce')
hurricane_df['RMWnm'] = pd.to_numeric(hurricane_df['RMWnm'], errors='coerce')
hurricane_df['CentralPressure(mb)'] = pd.to_numeric(hurricane_df['CentralPressure(mb)'], errors='coerce')

In [14]:
# Review dataframe
hurricane_df.head(10)

,Date,Time,Latitude,Longitude,Max Winds(kt),SSHWS,RMWnm,CentralPressure(mb),States Affected,Name
1,1935-09-03,02:00 AM,24.8,-80.8,160,5,5.0,892,"CFL5,BFL5","""Labor Day"""
2,1969-08-18,04:00 AM,30.3,-89.4,150,5,10.0,900,"MS5,LA5,AL1",Camille
3,1992-08-26,09:05 AM,25.5,-80.3,145,5,10.0,922,"CFL5,BFL4",Andrew
4,2018-10-10,05:30 PM,30.0,-85.5,140,5,10.0,919,"AFL5,I-GA2",Michael
5,1856-08-10,06:00 PM,29.2,-91.1,130,4,10.0,934,LA4,"""Last Island"""
6,1886-08-20,01:00 PM,28.1,-96.8,130,4,15.0,925,BTX4,"""Indianola"""
8,1932-08-14,04:00 AM,29.0,-95.2,130,4,10.0,935,"CTX4,BTX1","""Freeport"""
9,2004-08-13,07:45 PM,26.6,-82.2,130,4,5.0,941,"BFL4,CFL1,DFL1",Charley
10,2020-08-27,06:00 AM,29.8,-93.3,130,4,15.0,939,"LA4,ATX1",Laura
11,2021-08-29,04:55 PM,29.1,-90.2,130,4,10.0,931,LA4,Ida

In [15]:
# Review columns types
hurricane_df.dtypes

Date                   datetime64[ns]
Time                           object
Latitude                      float64
Longitude                     float64
Max Winds(kt)                   int64
SSHWS                           int64
RMWnm                         float64
CentralPressure(mb)             int64
States Affected                object
Name                           object
dtype: object

In [16]:
# Sort hurricanes based on date, reset index
hurricane_df = hurricane_df.sort_values(by='Date')
cleaned_hurricane_df = hurricane_df.reset_index(drop=True)
cleaned_hurricane_df

,Date,Time,Latitude,Longitude,Max Winds(kt),SSHWS,RMWnm,CentralPressure(mb),States Affected,Name
0,1851-08-23,09:00 PM,30.1,-85.7,100,3,NaN,955,"AFL3,GA1","""Great Middle Florida"""
1,1852-08-26,06:00 AM,30.2,-88.6,100,3,10.0,961,"AL3,MS3,LA2,AFL1","""Great Mobile"""
2,1854-09-08,08:00 PM,31.7,-81.1,100,3,40.0,950,"GA3,SC2,DFL1","""Great Carolina"""
3,1855-09-16,03:00 AM,29.2,-89.5,110,3,NaN,945,"LA3,MS3","""Middle Gulf Shore"""
4,1856-08-10,06:00 PM,29.2,-91.1,130,4,10.0,934,LA4,"""Last Island"""
5,1869-09-08,10:00 PM,41.4,-71.7,100,3,30.0,965,"RI3,MA3,CT1","""Eastern New England"""
6,1886-08-20,01:00 PM,28.1,-96.8,130,4,15.0,925,BTX4,"""Indianola"""
7,1893-08-28,05:00 AM,31.7,-81.1,100,3,25.0,954,"GA3,SC3,NC1,DFL1","""Sea Island"""
8,1893-10-02,08:00 AM,29.3,-89.8,115,4,10.0,948,LA4,"""Chenier Caminanda"""
9,1900-09-09,02:00 AM,29.1,-95.1,120,4,15.0,936,CTX4,"""Galveston"""
10,1909-07-21,05:00 PM,28.9,-95.3,100,3,20.0,959,CTX3,"""Velasco"""
11,1909-09-21,12:00 AM,29.5,-91.3,100,3,30.0,952,"LA3,MS2","""Grand Isle"""
12,1915-08-17,07:00 AM,29.2,-95.1,115,4,25.0,940,"CTX4,BTX1,LA1","""Galveston"""
13,1915-09-29,06:00 PM,29.1,-90.3,110,3,20.0,944,"LA3,MS2","""New Orleans"""
14,1921-10-25,08:00 PM,28.1,-82.8,100,3,20.0,958,"BFL3,AFL2,DFL1","""Tampa Bay"""
15,1926-09-18,12:00 PM,25.7,-80.3,125,4,20.0,930,"CFL4,BFL3","""Great Miami"""
16,1928-09-17,12:00 AM,26.7,-80.0,125,4,30.0,929,"CFL4,BFL3,AFL1,DFL1","""Lake Okeechobee"""
17,1932-08-14,04:00 AM,29.0,-95.2,130,4,10.0,935,"CTX4,BTX1","""Freeport"""
18,1935-09-03,02:00 AM,24.8,-80.8,160,5,5.0,892,"CFL5,BFL5","""Labor Day"""
19,1938-09-21,08:00 PM,40.7,-72.9,105,3,40.0,941,"NY3,CT3,RI3,MA2","""Great New England"""
20,1950-09-05,05:00 PM,29.1,-82.8,105,3,15.0,960,"AFL3,BFL1",Easy
21,1950-10-18,05:00 AM,25.7,-80.2,115,4,5.0,955,"CFL4,DFL1",King
22,1954-08-31,02:00 PM,40.9,-72.2,100,3,20.0,955,"NY3,CT3,RI3,MA2,NC1",Carol
23,1954-10-14,03:30 PM,33.9,-78.6,115,4,20.0,938,"SC4,NC4",Hazel
24,1957-06-27,01:30 PM,29.8,-93.7,110,3,15.0,946,"LA3,CTX2",Audrey
25,1958-09-27,06:00 PM,33.9,-77.6,110,3,20.0,938,NC3,Helene
26,1959-09-29,05:00 PM,32.5,-80.4,115,4,10.0,951,SC4,Gracie
27,1960-09-10,07:00 AM,24.8,-80.9,125,4,20.0,930,"BFL4,CFL4",Donna
28,1961-09-11,08:00 PM,28.3,-96.4,125,4,20.0,931,"BTX4, CTX3, ATX1",Carla
29,1965-09-08,04:00 AM,29.2,-90.1,115,4,30.0,946,LA4,Betsy
30,1965-09-08,11:00 AM,25.0,-80.5,100,3,30.0,952,"BFL3, CFL3",Betsy
31,1966-06-08,07:00 PM,24.6,-82.7,100,3,NaN,962,"BFL3,AFL1",Alma
32,1967-09-20,12:00 PM,25.9,-97.2,100,3,10.0,940,ATX3,Beulah
33,1969-08-18,04:00 AM,30.3,-89.4,150,5,10.0,900,"MS5,LA5,AL1",Camille
34,1970-08-03,09:00 PM,27.8,-97.1,120,4,10.0,944,ATX4,Celia
35,1983-08-18,07:00 AM,29.1,-95.1,100,3,10.0,962,CTX3,Alicia
36,1985-09-02,01:00 PM,30.4,-89.2,100,3,10.0,959,"AL3,MS3,AFL3",Elena
37,1989-09-22,04:00 AM,32.8,-79.8,120,4,20.0,934,"SC4,INC1",Hugo
38,1992-08-26,09:05 AM,25.5,-80.3,145,5,10.0,922,"CFL5,BFL4",Andrew
39,1992-08-26,08:30 AM,29.6,-91.5,100,3,20.0,956,LA3,Andrew
40,1993-08-31,09:00 PM,35.2,-75.1,100,3,30.0,961,NC3,Emily
41,1995-10-04,10:00 PM,30.3,-87.1,100,3,50.0,942,"AFL3,IAL1",Opal
42,1996-09-06,12:30 AM,33.9,-78.0,100,3,40.0,954,NC3,Fran
43,1999-08-23,12:00 AM,26.9,-97.4,100,3,10.0,951,ATX3,Bret
44,2004-08-13,07:45 PM,26.6,-82.2,130,4,5.0,941,"BFL4,CFL1,DFL1",Charley
45,2004-09-16,06:50 AM,30.2,-87.9,105,3,25.0,946,"AL3,AFL3",Ivan
46,2004-09-26,04:00 AM,27.2,-80.2,105,3,45.0,950,"CFL3,BFL1,AFL1",Jeanne
47,2005-07-10,07:30 PM,30.4,-87.1,105,3,5.0,946,"AFL3,IAL1",Dennis
48,2005-08-29,11:10 AM,29.3,-89.6,110,3,20.0,920,"LA3,MS3,AL1",Katrina
49,2005-09-24,07:40 AM,29.7,-93.7,100,3,20.0,937,"LA3,CTX2",Rita
50,2005-10-24,10:30 AM,25.9,-81.7,105,3,25.0,950,"BFL3,CFL2",Wilma
51,2017-08-25,03:00 AM,28.0,-96.9,115,4,10.0,937,BTX4,Harvey
52,2017-09-10,01:00 PM,24.7,-81.5,115,4,10.0,931,"BFL4,CFL1",Irma
53,2018-10-10,05:30 PM,30.0,-85.5,140,5,10.0,919,"AFL5,I-GA2",Michael
54,2020-08-27,06:00 AM,29.8,-93.3,130,4,15.0,939,"LA4,ATX1",Laura
55,2020-10-28,09:00 PM,29.2,-90.6,100,3,20.0,970,"LA3,MS2,I-AL1",Zeta
56,2021-08-29,04:55 PM,29.1,-90.2,130,4,10.0,931,LA4,Ida
57,2022-09-28,07:05 PM,26.7,-82.2,130,4,20.0,941,"BFL4,ICFL1,DFL1,SC1",Ian
58,2023-08-30,11:45 AM,29.9,-83.6,100,3,10.0,950,"AFL3,I-GA1",Idalia

In [17]:
# Save cleaned huricane data for future use
cleaned_hurricane_df.to_csv('../02_Transform/Output/cleaned_hurricane_df.csv',index=False)